*
{
    font-family: 'Source Code Pro';
    font-weight: 700;
}

.div
{
    height: 440px;
    width: 470px;
    background-color: #0000FF;
    color: #FFFFFF;    
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
}

span
{
    display: block;
}

.h
{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sell
{
    font-size: 50px;
    padding-bottom: 35px;
}

.text
{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.button
{
    display: block;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
    width: 410px;
    height: 105px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-size: 35px;
    padding-top: 30px;
}